#gameboard-container{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.game-board{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 20px;
    height: 20px;
    border: solid 1px black;
    box-sizing: border-box;
}

.option-container {
    width: 500px;
    height: 60px;
    margin: 30px 0;
    background-color: #949090;
    display:flex;
    align-items: center;
}

.destroyer {
    background-color: rgb(31, 41, 13);
}

.submarine {
    background-color: green;
}

.cruiser {
    background-color: blueviolet;
}

.battleship{
    background-color: rgb(160, 97, 52);
}

.carrier{
    background-color: rgb(109, 32, 79);
}

.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser-preview {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship-preview {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier-preview {
    width: 50px;
    height: 10px;
    margin: 3px;
}